@charset "utf-8";

// If need, change your variables before importing Bulma
$title-color: #2e2e2e;
$box-padding: 1rem;
$card-header-padding: 4rem;
$card-content-padding: 1.5rem;
$box-background-color: rgb(236, 236, 236);
$card-background-color: rgb(221, 219, 219);
$card-header-background-color: #4a4a4a;

$card-header-padding: 3rem 2rem;
$card-shadow:  0 1px 1px rgba(77, 77, 77, 0.1), 
0 2px 2px rgba(0,0,0,0.10), 
0 4px 4px rgba(0,0,0,0.10), 
0 8px 8px rgba(0,0,0,0.10),
0 16px 16px rgba(43, 43, 43, 0.1);
$box-shadow: 0 1px 1px rgba(77, 77, 77, 0.1), 
0 2px 2px rgba(0,0,0,0.10), 
0 4px 4px rgba(0,0,0,0.10), 
0 8px 8px rgba(0,0,0,0.10),
0 16px 16px rgba(43, 43, 43, 0.1);
$footer-background-color: #28B4D7;
$footer-padding: 1rem 1rem 1rem;
$footer-color: white;
$navbar-dropdown-item-active-color: blue;
@import "~bulma/bulma.sass";